body {
    background-color: #F0EBE3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #7D9D9C;
}
/* header */ 
header {

    padding-bottom: 20px;
}

#logo {
    float: left;
    margin: 10px 10px 5px 2.5%;
}

.first-text {
    text-align: center;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.first-text h1 {
    font-size: 300%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.first-text p {
    font-size: 150%;
    margin: 0 auto;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #576F72;
}

.active {
    border-bottom: 1px solid #576F72;
}

#top-box {
    padding-bottom: 40px;
    color: #576F72;
}

/* middle box */

.middle-box {
    width: 100%;
}

.left-box {
    width: 33%;
    height: auto;
    padding-top: 50px;
}

.central-box {
    width: 33%;
    height: auto;
    margin: 0 auto;
}

.right-box {
    width: 33%;
    height: auto;
    padding-top: 50px;
}

.index-pic {
    max-width: 100%;
    height: auto;
}





/* other details*/ 

#details {
    width: 33%;
    margin: 0 auto:
}

#details {
    width: 33%;
    margin: 0 auto;
}

#contact-times {
    width: 50%;
}

#the-map {
    width: 50%;
}

/*gallery page*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
}

#photos > img {
    width: 100%;
}

/*footer*/

footer {
    height: 120px;
    clear: both;
    background-color: #E4DCCF;
}

.the-footer {
    text-align: center;
    width: 100%;
}

.the-footer>li {
    display: inline;
}

.the-footer i {
    font-size: 300%;
    color: #7D9D9C;
    padding: 30px 25px 0 25px;
    margin: 0 auto;
}